<div class="input-group">
  <input type="text" class="form-control" placeholder="Search by Book Title, Author, or ISBN" aria-label="Search" [(ngModel)]="searchBook.query">
  <div class="input-group-append">
    <button class="btn btn-secondary input-group-text" (click)="onSearchClicked()">Search</button>
  </div>
</div>
<div class="form-check form-check-inline mt-3 ml-3">
  <input class="form-check-input" type="radio" name="search-field" id="all" value="all" [(ngModel)]="searchBook.searchField">
  <label class="form-check-label" for="all">all</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="search-field" id="title" value="title" [(ngModel)]="searchBook.searchField">
  <label class="form-check-label" for="title">title</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="search-field" id="author" value="author" [(ngModel)]="searchBook.searchField">
  <label class="form-check-label" for="author">author</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="search-field" id="genre" value="genre" [(ngModel)]="searchBook.searchField">
  <label class="form-check-label" for="genre">genre</label>
</div>
